.btn {
  position: relative;
  display: inline-block;
  padding: rem(15) rem(40);
  color: $main-text-color;
  background-color: $color;
  font-weight: 700;
  font-size: rem(20);
  line-height: calc(24 / 20);
  letter-spacing: 5px;
  text-transform: uppercase;
  border-radius: rem(50);
  box-shadow: $btn-shadow;
  transition: transform 250ms ease-in;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: $color;
    border-radius: rem(50);
    z-index: -1;
    transition: opacity 250ms ease-in, transform 250ms ease-in;
  }

  &:hover,
  &:focus {
    transform: translateY(-4px);
    &::after{
      opacity: 0;
      transform: scale(1.5);
    }
  }

  &:active {
    transform: translateY(-2px);
  }
}

.btn--animeted {
  @include anim(btnUp, 500ms, 300ms, ease-in);
  animation-fill-mode: backwards;
}

.btn-brown {
  color: $color;
  background-color: $accent;

  &:hover,
  &:focus {
    background-color: $accent;

  &::after {
    background-color: $accent;
  }
  }
}