@keyframes leftTitle {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }

  80% {
    transform: translateX(25px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes rightTitle {
  0% {
    opacity: 0;
    transform: translateX(150px);
  }

  80% {
    transform: translateX(-25px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes btnUp {
  0% {
    opacity: 0;
    transform: translateY(150px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}